body {
    background-color: #EDEFEE;
    font-family: sans-serif,'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem; 
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
    text-align: center;
}



nav  li {

    margin-right:1rem;
    display: inline-block;
}

li a {
    color:yellow;
    }

nav {
    background-color:rgba(34, 31, 31,0.5);
    border: 2px solid gray;
    padding: 3px;
    border-radius: 15px;
}
section {
    display: flex;
    padding: 3px;
}

article {
    flex:1;
}

footer {
    display: flex;
}

footer div {
    flex:1;
}

img {
    margin: 1rem;
}


.first-txt {
    color:yellow;
    position: absolute;
    bottom: 100px;
    left: 10px;
    font-size:medium;
}

.second-txt {
    color:yellow;
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-size:small;
}

section {
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;

}

section.bgChick{
    display:block;
    object-fit: cover;
    background-image: url("../chicken.png");
    width: 100%;
    height: 300px;
    background-size: contain; 
    border-radius: 15px;

}

.copy{
float:right;
color:rgba(34, 31, 31);
font-size: x-small;
}

.card {
    flex:1;
    background-color: rgb(25, 33, 25,0.5);
}